<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity6"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/layout}">

<th:block th:fragment="header">
    <div id="header">
        <ul>
            <li sec:authorize="isAuthenticated()">
                <a href="javascript:void(0)" sec:authentication="name"></a>
                <form th:action="@{/logout}" method="post"><button>(로그아웃)</button></form>
            </li>
            <li sec:authorize="isAnonymous()">
                <a th:href="@{/login}">로그인</a>
            </li>
            <li><a th:href="@{/chat}">채팅방</a></li>
            <li>456</li>
            <li>789</li>
        </ul>
    </div>
</th:block>
</html>