<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/layout}">

<th:block th:fragment="header">
    <div id="header">
        <ul>
            <th:block th:if="${session.loginUser != null}">
                <li>
                    <a th:href="@{/user/mypage.do}" th:text="${session.loginUser.userId}"></a>
                    <form th:action="@{/user/logout.do}" method="post"><button>로그아웃</button></form>
                </li>
            </th:block>
            <th:block th:unless="${session.loginUser}">
                <li><a th:href="@{/user/login.do}">로그인/회원가입</a></li>
            </th:block>
            <li><a th:href="@{/chat}">채팅방</a></li>
            <li>456</li>
            <li>789</li>
        </ul>
    </div>
</th:block>
</html>