body {
    margin: 0;
}
.container{
    margin: 0 5% 0 5%;
}
.fl-di-col{
    display:flex;
    flex-direction: column;
}

#header {
    background-color: cadetblue;
    height: 100px;
    display: flex;
    align-self: center;
    justify-content: end;
}
#header>ul{
    margin: 0;
    padding-left: 0;
    padding-right: 10px;
    /*text-align: end;*/
    display: flex;
    align-self: center;
}
#header>ul>li {
    list-style: none;
    padding: 5px;
    color: whitesmoke;
    text-decoration: none;
    font-size: 1.2em;
}
#header>ul>li>a{
    color: whitesmoke;
    text-decoration: none;
}

#content {
    display: flex;
    justify-content: center;
    align-self: center;
}