body {
    margin: 0;
}
.container{
    margin: 0 5%;
}
.flex{
    display: flex;
}
.jc-center{
    justify-content: center;
}
.jc-between{
    justify-content: space-between;
}
.fl-di-col{
    display:flex;
    flex-direction: column;
}
.btn-none{
    background-color: rgba(0,0,0,0%);
    border: none;
}
.margin-x-5{
    margin: 5px 0;
}

#header {
    background-color: cadetblue;
    height: 100px;
    display: flex;
    align-self: center;
    justify-content: end;
}
#header>ul{
    margin: 0;
    padding-left: 0;
    padding-right: 10px;
    /*text-align: end;*/
    display: flex;
    align-self: center;
}
#header>ul>li {
    list-style: none;
    padding: 5px;
    color: whitesmoke;
    text-decoration: none;
    font-size: 1.2em;
}
#header>ul>li>a{
    color: whitesmoke;
    text-decoration: none;
}

#content {
    display: flex;
    justify-content: center;
    align-self: center;
}

#chat-content{
    display: flex;
    justify-content: center;
}
#chat-content>div{
    width: 400px;
}
.chat-right{
    text-align: end;

}
.chat-center{
    text-align: center;
}
#disConn{
    cursor: pointer;
}
.chat-box{
    display: inline-block;
    padding: 3px;
    border: 1px solid;
    border-radius: 3px;
    width: 250px;
    word-wrap: break-word;
}
#msgArea{
    height: 700px;
    overflow-y: scroll;
}
#msgArea::-webkit-scrollbar{
    border: none;
}
#msgArea::-webkit-scrollbar-thumb{
    border-radius: 5px;
}
#inputWindow{
    display: flex;
    justify-content: space-between;
    border: 1px solid gray;
    border-radius: 5px;
    height: 100px;
}
#msg{
    width: 330px;
    margin-left: 5px;
    border-radius: 5px;
    overflow: hidden;
    height: 95px;
    border: none;
    outline: none;
    resize: none;
}
#button-send{
    margin: 0 5px 5px 0;
    align-self: end;
    padding: 5px;
    color: white;
    border: none;
    background-color: cadetblue;
    border-radius: 3px;
}