<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <form action="/user/login.do" method="post">
        <h2>log in</h2>
        <label>
            <span>아이디 : </span>
            <input type="text" name="userId">
        </label>
        <label>
            <span>비밀번호 : </span>
            <input type="password" name="userPw">
        </label>
        <button>로그인</button>
    </form>
    <div>
        <a href="/user/signup.do">회원가입</a>
    </div>
</body>
</html>